/* 1280x960 */

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	font-family: 'Oxygen', sans-serif;
	/*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
	font-size: 12px;
	/*color: #010101;*/
	color: #FBFBFB;

}

a {
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-ms-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
	color: #010101;
	text-decoration: none;
	font-family: 'Julius Sans One', sans-serif;
}
a#project-partner {
	color: #FBFBFB;
	text-shadow: 2px 1px 2px #222824;
	font-family: 'Oxygen', sans-serif;
	/*font-family: 'Julius Sans One', sans-serif;*/
}
a#project-partner:hover {
	/*color: #222824;*/
	text-shadow: -2px -1px 4px #222824;
}
.controls {
	height: 100%;
	width: 100%;
}
a.control-btn {
	position: absolute;
	top: 46%;
	font-size: 3em;
  display:inline-block;
  transform:scale(1,2);
  -webkit-transform:scale(1,2);
  -moz-transform:scale(1,2);
  -ms-transform:scale(1,2);
  -o-transform:scale(1,2);
  opacity: 0.4;
}
a#btn-next {
	left: 1160px;
}
a#btn-prev {
	right: 1160px;
}
.content p {
	font-size: 1.24em;
}
ul {
	list-style: none;
}
.lead {
	font-size: 1.24em;
}
.sub-lead {
	font-size: 0.96em;
}
.full-slide {
	margin-top: 1em;
	max-width: 760px;
}

ul li > ul {
	margin-left: 1em;
}

footer {
	background: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
}

footer img {
	border: 0;
	border-radius: 4px;
	float: left;
	width: 165px;
	height: 30px;
	margin: 15px;
}

footer p {
	padding-top: 24px;
}

footer a {
	font-weight: bold;
}

.arrow {
	-webkit-transition: background .1s ease;
	-moz-transition: background .1s ease;
	-ms-transition: background .1s ease;
	-o-transition: background .1s ease;
	transition: background .1s ease;
	cursor: pointer;
	color: white;
	background: #808080;
	width: 15px;
	height: 15px;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	line-height: 19px;
	overflow: hidden;
	position: absolute;
	top: 24px;
}

.arrow.up {
	left: -42px;
}

.arrow.down {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	left: -24px;
}

hr {
	border-color: #8CC775;
	height: 2px;
	background-color: #8CC775;
	margin: 0.24em 0em;
}
hr.blank {
	visibility: hidden;
	margin: 0;
}

h1 {
	color: #8CC775;
	font-family: 'Julius Sans One', sans-serif;
	font-smooth: auto;

	/* Fix thin font rendering on Windows */
	font-size: 14em;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);

	font-weight: normal;
	text-shadow: 0 0 1px #8CC775, 0 0 1px #8CC775, 0 0 1px #8CC775, 2px 2px 4px #010101;
	z-index: 20;
	/*margin-top: 1em;*/
	height: 200px;
	width: 200px;
	text-align: center;
}

h2 {
	-webkit-transition: opacity 2s ease;
	-moz-transition: opacity 2s ease;
	-ms-transition: opacity 2s ease;
	-o-transition: opacity 2s ease;
	transition: opacity 2s ease;
	z-index: 30;
	margin-top: 5em;
	font-family: Gill Sans, Segoe UI Light, Helvetica, Arial, sans-serif;
	font-size: 35px;
	font-weight: 200;
	color: white;
	opacity: 0.9;
	text-align: center;
}

h3.slide-title {
	color: white;
	z-index: 30;
	margin-top: 14px;
	text-shadow: 1px 1px 2px #010101;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 2.24em;
	color: white;
	opacity: 0.9;
}

@media 
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	h1 {
		text-shadow: none;
	}
}

#forkme {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: white;
	color: #404040;
	overflow: hidden;
	position: fixed;
	z-index: 30;
	width: 240px;
	right: -60px;
	top: 46px;
	text-align: center;
}

#forkme a {
	display: inline-block;
	font: 13px Helvetica Neue, Arial, sans-serif;
	margin: 0.05em 0 0.075em 0;
	padding: 0.6em;
	text-decoration: none;
}
#forkme span {
	font: 18px Helvetica Neue, Arial, sans-serif;
	margin: 0.05em 0 0.075em 0;
	padding: 0.24em;
	vertical-align: middle;
}

article {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-ms-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

section {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	background: #c0c0c0;
	border-radius: 30px;
	width: 800px;
	height: 594px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -297px;
	opacity: 0;
	padding: 1em;
}
body,
section.bespoke-slide {
	-webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
	transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}
section.bespoke-active {
	opacity: 1;
	z-index: 1;
}

section.bespoke-slide p {
	font-family: 'Oxygen', sans-serif;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 10px;
	}

	h1 {
		margin-top: -95px;
	}

	h2 {
		font-size: 32px;
		margin-top: 22px;
	}

	header p {
		font-size: 10px;
		bottom: 40px;
		padding: 6px 12px;
	}

	footer {
		height: 50px;
	}

	footer img {
		height: 30px;
		width: 30px;
		margin: 10px;
	}

	footer p {
		padding-top: 19px;
	}

	.arrow {
		top: 18px;
	}

	#forkme a {
		font-size: 11px;
		padding: 0.7em;
	}

	section {
		margin-top: -216px;
	}

	a,
	.arrow {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	body,
	section.bespoke-slide {
		-webkit-transition: -webkit-transform .7s ease, opacity .7s ease;
		-moz-transition: -moz-transform .7s ease, opacity .7s ease;
		-ms-transition: -ms-transform .7s ease, opacity .7s ease;
		-o-transition: -o-transform .7s ease, opacity .7s ease;
		transition: transform .7s ease, opacity .7s ease;
	}
}


@media only screen and (max-width: 640px) {

	footer .credits p {
		position: relative;
		top: -6px;
		width: 160px;
	}

}

@media only screen and (max-width: 570px) {

	#forkme {
		right: -78px;
		top: 32px;
		overflow: hidden;
	}

	#forkme a {
		font-size: 9px;
	}

	h1 {
		-webkit-transform: scale(0.27);
		-moz-transform: scale(0.27);
		-ms-transform: scale(0.27);
		-o-transform: scale(0.27);
		transform: scale(0.27);
		margin-top: -94px;
	}

	h2 {
		font-size: 32px;
		margin-top: -7px;
	}

	article {
		-webkit-transform: scale(0.5) translateY(-27px);
		-moz-transform: scale(0.5) translateY(-27px);
		-ms-transform: scale(0.5) translateY(-27px);
		-o-transform: scale(0.5) translateY(-27px);
		transform: scale(0.5) translateY(-27px);
	}

	footer p {
		position: relative;
		top: -8px;
	}

	footer .credits p {
		width: 160px;
	}
}